.main {
    min-width: 200px;
    max-width: 700px;
    margin: auto;
    padding: 8px;
    min-height: 100px;
  }
  
  button:hover {
    opacity: 0.7;
  }
  
  .imgcontainer {
    text-align: center;
    margin: 24px 0 20px 0;
  }
  
  .label-quote {
    width: 100%;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
    color: cadetblue;
  }
  
  .add-button {
    width: 50px;
    height: 50px;
    line-height: 50px;
    padding: 0px;
    min-width: 0px;
    font-size: 18px;
    border-radius: 30px;
    box-shadow: 1px 4px 17px darkslategrey;
  }
  
  .language {
    margin-right: 1px;
  }
  
  .language ::ng-deep .mat-select-trigger {
    min-width: 68px !important;
    font-size: 13px;
    height: 28px;
  }
  .signup-head {
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 6px;
  }
  
  .my-select {
    margin-top: 11px;
    margin-right: 5px;
  }
  /*  */
  .my-select ::ng-deep .mat-select-trigger {
    min-width: 68px !important;
    font-size: 13px;
    height: 28px;
  }
  
  .resend-otp-button {
    width: 33px;
    height: 30px;
    line-height: 30px;
    padding: 0px;
    min-width: 0px;
    font-size: 18px;
    border-radius: 15px;
    box-shadow: 1px 2px 9px darkslategrey;
    color: #46465f;
    background-color: whitesmoke;
  }
  
  .background {
    background: linear-gradient(to bottom right, #29a1bd 34%, #3a51d3 100%);
    height: 100vh;
    width: 100vw;
  }
  
  .vLine {
    padding: 1.5rem;
    width: 100%;
  }
  
  .fade-header {
    text-align: center;
    margin-bottom: 0.5rem;
    color: rgb(94, 86, 86);
    font-weight: bold;
    font-size: 15px;
  }
  
  #name {
    border: 1px solid lightgrey;
    /* opacity: 5; */
    padding: 5px;
    width: 100%;
    height: 2.375rem;
    box-sizing: border-box;
    margin-bottom: 0.25rem;
  }
  
  #email {
    border: 1px solid lightgrey;
    /* opacity: 5; */
    padding: 5px;
    width: 100%;
    height: 2.375rem;
    box-sizing: border-box;
    margin-bottom: 0.25rem;
  }
  
  #mobileNo {
    border: 0px white;
    /* padding-left: 8px; */
    min-width: 0%;
    width: 100%;
    margin: 1px;
  }
  
  #otp {
    border: 1px solid lightgrey;
    /* opacity: 5; */
    padding: 5px;
    width: 100%;
    height: 2.375rem;
    box-sizing: border-box;
    margin-bottom: 0.25rem;
  }
  
  #otpButton {
    /* margin-right: 14px; */
    right: 0px;
    position: absolute;
  }
  
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
  
  .custom-spinner ::ng-deep svg {
    width: 2.5rem !important;
    height: 2.5rem !important;
  }
  
  .custom-spinner {
    width: 2.5rem !important;
    height: 2.5rem !important;
    margin-left: 9.25rem;
    position: absolute;
    top: 14rem;
    z-index: 3;
  }
  
  .custom-disabled {
    pointer-events: none;
    opacity: 0.4;
  }
  @media (max-width: 720px) {
    .vLine {
      padding: 0rem;
      width: 100%;
    }
    .signup-head {
      padding-bottom: 20px;
    }
  }
  