<div>
    <img class="background" src="../../../../assets/images/background-map.svg" alt="Avatar"
        style="position: absolute;height: 96vh;width: 99vw;object-fit: cover;">
    <div class="main">
        <div style="text-align: center;margin-bottom: 20px;">
            <img style="margin-top: 2rem;width: 30%; position: relative;" src="../../../../assets/images/logo.svg"
                alt="Avatar">
        </div>
        <mat-card class="login-block">

            <div class="auth-login">
                <div class="login-view" >
                    <img class="imgs" src="../../../../assets/images/logo-side.svg"
                        alt="Avatar" />
                </div>
                <div class="login-detail">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </mat-card>
    </div> 
</div>