<div class="container" style="padding: 10px;">
  <div class="row">
    <div class="col-md-12">
      <h2>Password Settings</h2>
      <hr>
      <div class="row justify-content-center">
        <div class="col-md-8 card shadow px-3 py-3">
          <div class="item">
            <div>
              <mat-form-field appearance="legacy" style="width: 65%;">
                <mat-label>Old Password</mat-label>
                <input matInput placeholder="Placeholder">
                <mat-hint>Hint</mat-hint>
              </mat-form-field>
            </div>
            <div class="df" style="column-gap: 20px; margin-top: 10px;">
              <mat-form-field appearance="legacy" style="width: 45%;">
                <mat-label>New Password</mat-label>
                <input matInput placeholder="Placeholder">
                <mat-hint>Hint</mat-hint>
              </mat-form-field>
              <mat-form-field appearance="legacy" style="width: 45%;">
                <mat-label>Confirm New Password</mat-label>
                <input matInput placeholder="Placeholder">
                <mat-hint>Hint</mat-hint>
              </mat-form-field>

            </div>
          <div class="footer">
            <button mat-raised-button color="primary">Update</button>
            <button mat-button >Cancel</button>
          </div>  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
