<div class="home-container">
    <div class="head">
        <p class="w3-jumbo"> Daily News</p>
        <div>
            <button mat-button style="cursor: pointer;"  (click)="Shop()">
                <b>{{ "Shop" }}</b>
            </button>

            <button mat-button style="cursor: pointer;"  (click)="login()">
                <b>{{ "Login" }}</b>
            </button>
            <!-- <button style="cursor: pointer;" mat-button (click)="signUp()">
                <b>{{ "Sign Up" }}</b>
            </button> -->
            <input type="text" #search matInput placeholder="search">
        </div>
    </div>

    <div class="w3-row-padding w3-margin-top">
        <div class="news">
            <div>
                <img class="img" src="../../../assets/images/balhra-logos.jpeg" alt="">
            </div>
            <div class="newsbody">
                <h2>English Notebook Found</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
        <div class="news">
            <div>
                <img class="img" src="../../../assets/images/balhra-logos.jpeg" alt="">
            </div>
            <div class="newsbody">
                <h2>MAths Notebook Found</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
        <div class="news">
            <div>
                <img class="img" src="../../../assets/images/balhra-logos.jpeg" alt="">
            </div>
            <div class="newsbody">
                <h2>Hindi Notebook Found</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
        <div class="news">
            <div>
                <img class="img" src="../../../assets/images/balhra-logos.jpeg" alt="">
            </div>
            <div class="newsbody">
                <h2>Empty Notebook Found</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
        <div class="news">
            <div>
                <img class="img" src="../../../assets/images/balhra-logos.jpeg" alt="">
            </div>
            <div class="newsbody">
                <h2>Empty Notebook Found</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
        <div class="news">
            <div>
                <img class="img" src="../../../assets/images/balhra-logos.jpeg" alt="">
            </div>
            <div class="newsbody">
                <h2>Empty Notebook Found</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
        <div class="news">
            <div>
                <img class="img" src="../../../assets/images/balhra-logos.jpeg" alt="">
            </div>
            <div class="newsbody">
                <h2>Empty Notebook Found</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
        <div class="news">
            <div>
                <img class="img" src="../../../assets/images/balhra-logos.jpeg" alt="">
            </div>
            <div class="newsbody">
                <h2>Empty Notebook Found</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
        <div class="news">
            <div>
                <img class="img" src="../../../assets/images/balhra-logos.jpeg" alt="">
            </div>
            <div class="newsbody">
                <h2>Empty Notebook Found</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
        <div class="news">
            <div>
                <img class="img" src="../../../assets/images/balhra-logos.jpeg" alt="">
            </div>
            <div class="newsbody">
                <h2>Empty Notebook Found</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
        <div class="news">
            <div>
                <img class="img" src="../../../assets/images/balhra-logos.jpeg" alt="">
            </div>
            <div class="newsbody">
                <h2>Empty Notebook Found</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
        <div class="news">
            <div>
                <img class="img" src="../../../assets/images/balhra-logos.jpeg" alt="">
            </div>
            <div class="newsbody">
                <h2>Empty Notebook Found</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
        <div class="news">
            <div>
                <img class="img" src="../../../assets/images/balhra-logos.jpeg" alt="">
            </div>
            <div class="newsbody">
                <h2>Empty Notebook Found</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
        <div class="news">
            <div>
                <img class="img" src="../../../assets/images/balhra-logos.jpeg" alt="">
            </div>
            <div class="newsbody">
                <h2>Empty Notebook Found</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
        <div class="news">
            <div>
                <img class="img" src="../../../assets/images/balhra-logos.jpeg" alt="">
            </div>
            <div class="newsbody">
                <h2>Empty Notebook Found</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
        <div class="news">
            <div>
                <img class="img" src="../../../assets/images/balhra-logos.jpeg" alt="">
            </div>
            <div class="newsbody">
                <h2>Empty Notebook Found</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div>
            <i class="marginbtn fa fa-facebook-official w3-hover-opacity"></i>
            <i class="marginbtn fa fa-instagram w3-hover-opacity"></i>
            <i class="marginbtn fa fa-snapchat w3-hover-opacity"></i>
            <i class="marginbtn fa fa-pinterest-p w3-hover-opacity"></i>
            <i class="marginbtn fa fa-twitter w3-hover-opacity"></i>
            <i class="marginbtn fa fa-linkedin w3-hover-opacity"></i>
        </div>
        <div>
            <p class="w3-medium">Powered by <a href="http://localhost:2000/"
                    target="_blank">Balhra World</a></p>
        </div>
    </footer>
</div>