<div class="container" style="padding: 10px;">
  <div class="row">
    <div class="col-md-12">
      <h2>UI Settings</h2>
      <hr>
      <div class="row justify-content-center">
        <div class="col-md-8 card shadow px-3 py-3">
          <div class="item">
            <section class="example-section">
              <p>
                <mat-checkbox>Show users in Dashboard</mat-checkbox>
              </p>
              <p>
                <mat-checkbox>Show Students in Dashboard</mat-checkbox>
              </p>  
              <p>
                <mat-checkbox>Show Auctions in Dashboard</mat-checkbox>
              </p>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
